@charset "UTF-8";
/* codigos generales */
body {
  min-height: 100vh;
}

main {
  flex: 1;
}

h1,
h2 {
  text-align: center;
  color: rgb(16, 224, 16);
}

.link {
  color: rgb(16, 224, 16);
  border-bottom: 3% solid rgb(16, 224, 16);
  font-size: 20px;
  text-decoration: none;
  text-decoration: underline;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

p {
  color: rgb(255, 255, 255);
  font-size: 24px;
  padding: 10px;
  text-align: center;
}

.parrafomouse,
.descripcionmousepad {
  text-decoration: none;
  font-size: 20px;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(123deg, rgb(0, 0, 0) 21%, rgb(16, 224, 16) 87%);
}

label {
  color: rgb(16, 224, 16);
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
  font-family: Georgia, "Times New Roman", Times, serif rgb(16, 224, 16);
}

.columnLeft {
  width: 90%;
  display: flex;
  justify-content: flex-start;
}

.columnRight {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* Pagina principal index */
.bodyContainer {
  display: flex;
  flex-direction: column;
}

.containerIndex {
  border-radius: 20px;
  -webkit-box-shadow: rgb(16, 224, 16);
  -moz-box-shadow: rgb(16, 224, 16);
  box-shadow: rgb(16, 224, 16);
  border: 0.01rem solid black;
  width: 800px;
  height: 500px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  justify-content: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

/* apartado del teclado RAZER HUNTSMAN MINI 60% */
.titulos {
  color: rgb(16, 224, 16);
  background-color: white;
  text-decoration: underline;
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 15px;
  border-radius: 20px;
}

.container,
.teclado,
.mousee,
.mousepadd {
  opacity: 0;
  animation: animacion 4s infinite;
}

@keyframes animacion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.teclado {
  width: 90%;
  height: 70%;
  margin: 15px;
  border-radius: 20px;
}

/* apartado del mouse RAZER COBRA PRO */
.mouse {
  color: rgb(16, 224, 16);
  margin: 15px;
  background-color: white;
  border-radius: 20px;
  font-size: xx-large;
}

.parrafomouse {
  margin: 15px;
  text-decoration: underline;
  color: white;
  background-color: black;
  border-radius: 20px;
}

.mousee {
  height: 65%;
  margin: 15px;
  border-radius: 20px;
}

/* apartado del mousepad RAZER STRIDE CHROMA */
.mousepadd {
  width: 90%;
  height: 65%;
  margin: 15px;
  border-radius: 20px;
}

.footer {
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  width: 100%;
  height: 10%;
  padding: 50px;
  margin-top: 10%;
  font-family: Georgia, "Times New Roman", Times, serif;
  bottom: 0;
}

.contactorazer {
  color: #0b633e;
  text-decoration: underline;
}

.logorazer {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: flex-end;
  text-align: end;
  height: 70%;
  width: 40%;
}

/* Esta es la pagina de la PC */
.pdescription {
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px;
  border-radius: 20px;
  color: rgb(16, 224, 16);
}

.articulo {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
  margin: 25px;
  color: rgb(16, 224, 16);
  background-color: rgb(8, 8, 8);
  border-radius: 20px;
  /*  BORDE DE LAS CARTAS  */
  width: [object Object] px;
  height: [object Object] px;
  border: solid #050505 1px;
  box-shadow: 5px 4px 73px rgb(64, 217, 21);
  -webkit-box-shadow: 5px 4px 73px rgb(64, 217, 21);
  -moz-box-shadow: 5px 4px 73px rgb(64, 217, 21);
}

.articulo h2 {
  color: rgb(16, 224, 16);
  text-align: center;
}

.imagen {
  height: 45%;
  width: 90%;
  padding-left: 10%;
}

/* pagina sobre puntos de venta*/
.pais {
  text-align: center;
  color: rgb(16, 224, 16);
}

/* pagina sobre comunidad */
/* TITULOS DE LA PAGINA PC, PUNTOS DE VENTA, COMUNIDAD Y PUNTOS DE VENTA */
.comu {
  font-family: "Times New Roman";
  text-align: center;
  color: rgb(16, 224, 16);
  background-color: black;
  padding: 5px;
  margin: 15px;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #000000;
  border: solid #53fa00 2px;
  border-top-left-radius: 25px;
  -webkit-border-top-left-radius: 25px;
  -moz-border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  -webkit-border-top-right-radius: 25px;
  -moz-border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -moz-border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-bottom-right-radius: 25px;
  -webkit-box-shadow: 0px 0px 28px 7px #0fea0b;
  -moz-box-shadow: 0px 0px 28px 7px #0fea0b;
  box-shadow: 0px 0px 28px 7px #0fea0b;
}

.comup {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  font-family: "Times New Roman", Times, serif;
}

.containerComunidad {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  /*  BORDE DE LAS CARTAS  */
  width: [object Object] px;
  height: [object Object] px;
  background: #050505;
  border: solid #000000 1px;
  box-shadow: 5px 5px 79px rgb(43, 255, 0);
  -webkit-box-shadow: 5px 5px 79px rgb(43, 255, 0);
  -moz-box-shadow: 5px 5px 79px rgb(43, 255, 0);
}

.social {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 20px;
}

/* Esta es la pagina del centro de ayuda */
.nacionalidadd {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

.maps {
  display: flex;
  justify-content: center;
}

.textarea {
  width: 300px;
  height: 300px;
  margin: 5px;
  border-radius: 5px;
}

/* diseño RESPONSIVE */
@media (max-width: 500px) {
  .bodyContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .containerIndex {
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 48px 6px rgba(11, 99, 62, 0.71);
    -moz-box-shadow: 0px 0px 48px 6px rgba(11, 99, 62, 0.71);
    box-shadow: 0px 0px 48px 6px rgba(11, 99, 62, 0.71);
    border: 0.01rem solid #0b633e;
    width: 80%;
    height: 400px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    justify-content: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
  }
  .columnRight {
    width: 90%;
    display: flex;
    justify-content: flex-end;
  }
  .parrafomouse {
    margin: 15px;
    text-decoration: underline;
    color: white;
    background-color: #0b633e;
    border-radius: 20px;
    font-size: 14px;
  }
  .mouse {
    color: #0b633e;
    margin: 15px;
    background-color: white;
    border-radius: 20px;
    font-size: 18px;
  }
  .articulo {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    margin: 25px;
    color: rgb(16, 224, 16);
    background-color: rgb(8, 8, 8);
    border-radius: 20px;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    color: rgb(16, 224, 16);
    gap: 15px;
  }
  .genteSatisfecha {
    color: rgb(16, 224, 16);
  }
  /* puntos de venta*/
  .maps {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 400px;
    align-items: center;
    margin-left: 40px;
  }
  /* comunidad */
  .comu {
    text-align: center;
    color: rgb(16, 224, 16);
    background-color: black;
    display: inline-block;
    justify-content: center;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .comup {
    width: 50%;
    text-align: center;
    margin-left: 25%;
  }
  .social {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .logo {
    width: 100%;
    height: 100%;
    margin: 5%;
    padding-right: 50%;
  }
  /* centro de ayuda */
  .nacionalidadd {
    text-align: center;
    color: rgb(16, 224, 16);
  }
  .maps {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
