<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accesorios y Componentes</title>
    <link rel="stylesheet" href="../style.css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>

  <body>

    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Tienda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./pc.html">Pc</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./puntosDeVenta.html"
                >Puntos De Venta</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./comunidad.html">Comunidad</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="./centroDeAyuda.html"
                >Centro de ayuda</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
<main>
    <h1 class="comu">ACCESORIOS PARA TU ESCRITORIO Y COMPONENTES</h1>
    <p class="comup">
      Los dispositivos Razer están creados específicamente para proporcionar un
      rendimiento excepcional tanto en juegos como en tareas laborales.
      Experimenta la potencia de un ordenador de escritorio en un formato
      portátil con nuestros laptops para gaming y productividad, o lánzate a la
      aventura y arma tu estación de juego con la avanzada tecnología aRGB
      Chroma.
    </p>
    <div class="container">
      <div class="articulo">
        <img
          src="../img/componentes.jpg"
          class="imagen"
          alt="seccion donde muestra los componentes"
        />
        <h2>Equipos de sobremesa y componentes.</h2>
        <p>Creados con el fin de ofrecer un alto rendimiento</p>
      </div>

      <div class="articulo">
        <img
          src="../img/zonaDeJuegos.jpg"
          class="imagen"
          alt="seccion donde muestra los juegos"
        />
        <h2>Zona de juegos.</h2>
        <p>Bombillas, tiras de luces y lamparas</p>
      </div>

      <div class="articulo">
        <img
          src="../img/Accesorios.jpg"
          class="imagen"
          alt="seccion donde muestra los accesorios para un escritorio mas organizado"
        />
        <h2>Accesorios.</h2>
        <p class="comup">
          lo que hacemos es para la experiencia de juego perfecta
        </p>
      </div>
    </div>

    <h2 class="comu">PERIFERICOS</h2>

    <div class="container">
      <div class="articulo">
        <img
          src="../img/razermouseblack.jpg"
          class="imagen"
          alt="seccion para la variedad de los mouse"
        />
        <h2>MOUSE</h2>
        <p>Diseño duro, suave e híbrido para mejorar tu control</p>
      </div>
      <div class="articulo">
        <img
          src="../img/imgmousepad.jpg"
          class="imagen"
          alt="seccion para la variedad de los mousepads"
        />
        <h2>MOUSEPADS</h2>
        <p>Diseño duro, suave e híbrido para mejorar tu control</p>
      </div>

      <div class="articulo">
        <img
          src="../img/keyboarddos.jpg"
          class="imagen"
          alt="seccion donde muestra la variedad de los teclados"
        />

        <h2>TECLADOS</h2>
        <p>Ópticos y mecanicos</p>
      </div>

      <div class="articulo">
        <img
          src="../img/auris.jpg"
          class="imagen"
          alt="seccion donde muestra la variedad de auriculares"
        />
        <h2>AURICULARES</h2>
        <p>perfectos para el día a día como para los videojuegos</p>
      </div>
    </div>
  </main>
    <footer>


      <section class="footer">
    
        <ul> 
          <li class="contactorazer"> Nuestro Contacto</li> 
          <li class="contactorazer"> @razercontact.com </li> 
          <li class="contactorazer"> <img src="../img/telefonooo.png" alt="telefono"> 22948925 </li> 
        </ul>
    
        <div class="logorazer">
          <img class="logorazer" src="../img/Razerlogoo.jpeg" alt="logo de razer">
        </div>
      </section>
    
      
    
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
